{% if audiobookshelf_container_labels_traefik_enabled %}
traefik.enable=true

{% if audiobookshelf_container_labels_traefik_docker_network %}
traefik.docker.network={{ audiobookshelf_container_labels_traefik_docker_network }}
{% endif %}

{% set middlewares = [] %}

{% if audiobookshelf_container_labels_traefik_path_prefix != '/' %}
traefik.http.middlewares.{{ audiobookshelf_identifier }}-slashless-redirect.redirectregex.regex=^({{ audiobookshelf_container_labels_traefik_path_prefix | quote }})$
traefik.http.middlewares.{{ audiobookshelf_identifier }}-slashless-redirect.redirectregex.replacement=${1}/
{% set middlewares = middlewares + [audiobookshelf_identifier + '-slashless-redirect'] %}
{% endif %}

{#
	We need to strip the prefix for all routes except for /static routes.

	We do this by first rewriting /prefix/static to /another/static,
	then stripping /prefix, then restoring /another/static to /prefix/static.
#}

{% if audiobookshelf_container_labels_traefik_path_prefix != '/' %}
traefik.http.middlewares.{{ audiobookshelf_identifier }}-preserve-static.replacepathregex.regex=^{{ audiobookshelf_container_labels_traefik_path_prefix }}/static/(.*)
traefik.http.middlewares.{{ audiobookshelf_identifier }}-preserve-static.replacepathregex.replacement=/another/static/${1}
{% set middlewares = middlewares + [audiobookshelf_identifier + '-preserve-static'] %}
{% endif %}

{% if audiobookshelf_container_labels_traefik_path_prefix != '/' %}
traefik.http.middlewares.{{ audiobookshelf_identifier }}-strip-prefix.stripprefix.prefixes={{ audiobookshelf_container_labels_traefik_path_prefix }}
{% set middlewares = middlewares + [audiobookshelf_identifier + '-strip-prefix'] %}
{% endif %}

{% if audiobookshelf_container_labels_traefik_path_prefix != '/' %}
traefik.http.middlewares.{{ audiobookshelf_identifier }}-restore-static.replacepathregex.regex=^/another/static/(.*)
traefik.http.middlewares.{{ audiobookshelf_identifier }}-restore-static.replacepathregex.replacement={{ audiobookshelf_container_labels_traefik_path_prefix }}/static/${1}
{% set middlewares = middlewares + [audiobookshelf_identifier + '-restore-static'] %}
{% endif %}

{% if audiobookshelf_container_labels_traefik_additional_request_headers.keys() | length > 0 %}
{% for name, value in audiobookshelf_container_labels_traefik_additional_request_headers.items() %}
traefik.http.middlewares.{{ audiobookshelf_identifier }}-add-request-headers.headers.customrequestheaders.{{ name }}={{ value }}
{% endfor %}
{% set middlewares = middlewares + [audiobookshelf_identifier + '-add-request-headers'] %}
{% endif %}

{% if audiobookshelf_container_labels_traefik_additional_response_headers.keys() | length > 0 %}
{% for name, value in audiobookshelf_container_labels_traefik_additional_response_headers.items() %}
traefik.http.middlewares.{{ audiobookshelf_identifier }}-add-response-headers.headers.customresponseheaders.{{ name }}={{ value }}
{% endfor %}
{% set middlewares = middlewares + [audiobookshelf_identifier + '-add-response-headers'] %}
{% endif %}

traefik.http.routers.{{ audiobookshelf_identifier }}.rule={{ audiobookshelf_container_labels_traefik_rule }}
{% if audiobookshelf_container_labels_traefik_priority | int > 0 %}
traefik.http.routers.{{ audiobookshelf_identifier }}.priority={{ audiobookshelf_container_labels_traefik_priority }}
{% endif %}
traefik.http.routers.{{ audiobookshelf_identifier }}.service={{ audiobookshelf_identifier }}
{% if middlewares | length > 0 %}
traefik.http.routers.{{ audiobookshelf_identifier }}.middlewares={{ middlewares | join(',') }}
{% endif %}
traefik.http.routers.{{ audiobookshelf_identifier }}.entrypoints={{ audiobookshelf_container_labels_traefik_entrypoints }}
traefik.http.routers.{{ audiobookshelf_identifier }}.tls={{ audiobookshelf_container_labels_traefik_tls | to_json }}
{% if audiobookshelf_container_labels_traefik_tls %}
traefik.http.routers.{{ audiobookshelf_identifier }}.tls.certResolver={{ audiobookshelf_container_labels_traefik_tls_certResolver }}
{% endif %}

traefik.http.services.{{ audiobookshelf_identifier }}.loadbalancer.server.port=8000
{% endif %}

{{ audiobookshelf_container_labels_additional_labels }}
